
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }
        header, nav, main, aside, footer {
            padding: 20px;
            margin: 10px;
        }
        header {
            background-color: hsl(165, 24%, 81%);
            color: white;
        }
        nav {
            background-color: #333;
            color: white;
        }
        nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }
        main {
            display: flex; /*flexible para evitar los superposaientos*/
        }
        section {
            flex: 2;
            background-color: #b92b2b;
            padding: 10px;
        }
        aside {
            flex: 1; /**/
            background-color: #99a7d6;
            padding: 10px;
            max-width: 100px;
            height: 400px;
            flex-direction: column;/*flex direction en columna para que
            vaya pa abajo */
        }

        footer {
            background-color: #222;
            color: white;
            text-align: center;
        }
        article {
            background-color: #d1dfa1;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #cccccc;
        }
        .contenedor {
            max-width: 1200px;
            margin: auto;
        }
        .margen_img{
            margin: 1%;
            width: 200px;
        }
        .aside_imagenes {
            background-color: white;
            background-attachment: scroll;

        }
        .hoober1{
            color: white;
        }
        .hoober1:hover{
            color: black;
            font-size: large;
        }
        .hoober1:focus{
            color: black;

        }
        
        .priml{
            color: #ffffff;
        }
        .priml::first-letter{
            color: #b92b2b;
            font-size: larger;
        }
        .hobber2:visited {
            color: rgb(128, 0, 0);
        }
        .hobber2::selection{
            color: #000000;
            background-color: #b92b2b;
        }
        .clase_S{
            font-size: larger;
            background-color: aqua;
            position:static;
            margin-top: auto;
            margin-left: 100px;
            margin-right: 500px;
        }
        .clase_2{
            font-size: large;
            background-color: lightblue;
            position: static;
            top: 20px;
            left: 200px;
            right: 500px;
        }
        .clase_R{
            font-size: 20px;
            background-color: rgb(red, green, blue);
            height: 250px;
            width: 200px;
        }
        .clase_R:hover{
            position: relative;
            top: 100px;
            left: 100px;       
        }
        .clase_R2{
            font-size: 20px;
            background-color: rgb(red, green, blue);
            height: 250px;
            width: 200px;
            position: relative;
        }
        .clase_R3{
            font-size: 20px;
            background-color: rgb(red, green, blue);
            height: 200px;
            width: 150px;
            position: absolute;
            bottom: 300px;
            left: 600px;
        }


